*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    border: 300px;
    justify-content: space-around;
    border-color: black;
    background-color:#FFC100;
    padding: 10px;
}
body{
    background-color: #FF8A08;
}
.main_div{
    display: flex;
    flex-direction: column;
    border:2px solid black;
    justify-content: center;
    box-sizing: border-box;
    width: auto;

    /*margin-left: 20%;*/
    background-color: #ffffff;
    align-items: center;
    text-align: center;

    height:fit-content;
}
.food_card{
    margin-top: 2px;
    border-top: 2px solid black;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 10px;
    max-width: 600px;
    border-radius: 10px;
    }
.food_card:hover{
    background-color: rgba(209, 197, 35, 0.426);
    cursor: pointer;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    font-style:normal;
    color: black;
}
h1{
    display: inline-block;
    margin-left: 30%;
    width: 40%;
    justify-content: center;
    height: auto;
    background-color: #FF6500;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
}
footer{
    background-color:#FFC100;
}
img{
    width: 250px;
    height: 200px;
    border-radius: 80px;
}

.descripcion{
    margin-left: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
}
p{
    font-family: sans-serif;
    font-style: normal;
}
.pestania{
    justify-content:baseline;
    text-align: center;

    width:100%;
    margin-inline: 10px;
    height:35px;

}
